---
import Navigation, { type SectionLinks} from '../Navigation/Navigation.astro';
import Footer from '../Footer/Footer.astro';
import './Layout.scss';

const title = 'รวมรัตน์'

const sectionLinks: SectionLinks[] = [
    {
      title: 'หน้าหลัก',
      link: 'home',
    },
    {
      title: 'บริการ',
      link: 'services',
    },
    {
      title: 'ผลงาน',
      link: 'gallery',
    },
    {
      title: 'ติดต่อ',
      link: 'contact',
    },
  ];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div>
      <Navigation
        siteTitle={title}
        sectionLinks={sectionLinks}
      />
      <slot/>
      <Footer sectionLinks={sectionLinks} />
    </div>
	</body>
</html>

